.tietopankki-page__grid-container {
  background-color: transparent;
}

.tietopankki-page__grid-item--large {
  background-color: transparent;
}

.tietopankki-page__grid-item {
  background-color: transparent;
}

