.governmental-bulletin-card__meltwater-link {
  text-decoration: none;
  font-style: italic;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
}

.governmental-bulletin-card__meltwater-link:hover {
  text-decoration: underline;
}

.governmental-bulletin-card__feed-contents {
  font-size: 13px;
  color: #808080;
}

.governmental-bulletin-card__feed-contents a {
  color: #808080;
}
