.links-card__link {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 16px;
}

.links-card__link__icon {
  display: block;
  flex: 0 0 32px;
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.links-card__link__texts {
  flex: 1;
  align-self: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
}

.links-card__link__texts a,
.links-card__link__texts a:visited {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

.links-card__link__texts a:hover {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: underline;
}
