.layout__footer {
  color: #353842;
  text-align: center;
  padding: 30px;
  margin-top: auto;
  margin: auto auto 0;
  font-size: 14px;
  line-height: 3ex;
  max-width: 30em;
}

.layout__footer a {
  color: #353842;
}

.layout__footer a:hover {
  color: #000000;
}

.image__cc_by_sa {
  display: inline-block;
  margin: 5px;
}
