.layout__header {
  padding: 10px 10px 15px;
  color: #000;
  background: #fff;
  text-align: left;
}

.layout__header__container {
  max-width: 1080px;
  margin: 0 auto;
}

.layout__header__brand {
  margin-bottom: -inherit;
  width: 36%;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  letter-spacing: 0.15px;

  /* Black / High Emphasis */
  color: rgba(0, 0, 0, 0.87);
}

.layout__header__nav {
  font-size: 18px;
  display: inline-block;
}
