.layout__header {
  padding: 10px 10px 15px;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  text-align: center;
  background-color: #002F6C;
}

.layout__header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 86%;
}

.layout__header__brand {
  margin-bottom: -inherit;
  width: 36%;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  letter-spacing: 0.15px;

  /* Black / High Emphasis */
  color: rgba(0, 0, 0, 0.87);
}

.layout__header__nav {
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
}
