.layout__header {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  padding: 30px;
}

.layout__header__brand {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  letter-spacing: 0.15px;

  /* Black / High Emphasis */

  color: rgba(0, 0, 0, 0.87);
}

.layout__header__brand__link {
  text-decoration: none;
  color: inherit;
  padding: 0.5ex;
}

.layout__header__brand__link:hover,
.layout__header__brand__link:focus,
.layout__header__brand__link:active {
  text-decoration: underline;
  color: white;
  background-color: black;
  border-radius: 4px;
}
