.layout {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.layout__content {
  width: 100%;
  max-width: 1024px;
  margin-top: 56px;
  margin-bottom: 56px;
  align-self: center;
}
