.hero-chart-card__header {
  display: flex;
  align-content: center;
}

.hero-chart-card__header > h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.hero-chart-card__header > .hero-chart-card__header__buttons {
  margin-left: auto;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 14px;
  justify-items: center;
  align-items: center;
}
