var colors=["#fa6767"];
(dataColors=$("#daniel-chart1").data("colors"))&&(colors=dataColors.split(","));

var options= {
    chart: {
        locales: [{
            "name": "fi",
                "options": {
                    "months": [ "Tammikuu", "Helmikuu", "Maaliskuu", "Huhtikuu", "Toukokuu", "Kesäkuu", "Heinäkuu", "Elokuu", "Syyskuu", "Lokakuu", "Marraskuu", "Joulukuu"],
                    "shortMonths": [ "Tammikuuta", "Helmikuuta", "Maaliskuuta", "Huhtikuuta", "Toukokuuta", "Kesäkuuta", "Heinäkuuta", "Elokuuta", "Syyskuuta", "Lokakuuta", "Marraskuuta", "Joulukuuta"],
                    "days": [ "Sunnuntai", "Maanantai", "Tiistai", "Keskiviikko", "Torstai", "Perjantai", "Lauantai"],
                    "shortDays": ["Su", "Ma", "Ti", "Ke", "To", "Pe", "La"],
                    "toolbar": {
                        "exportToSVG": "Lataa SVG",
                        "exportToPNG": "Lataa PNG",
                        "exportToCSV": "Lataa CSV",
                        "menu": "Valikko",
                        "selection": "Valinta",
                        "selectionZoom": "Valinnan zoomaus",
                        "zoomIn": "Lähennä",
                        "zoomOut": "Loitonna",
                        "pan": "Panoroi",
                        "reset": "Nollaa zoomaus"
                    }
                }
        }],


        defaultLocale: "fi",


        height:380,
        type:"line",
        zoom: {
            enabled: !1
        }

    },




    dataLabels: {
        enabled: !1
    }
    ,
    stroke: {
        width: [3, 3, 5, 3, 3], 
        curve: "straight",
        dashArray: [5,5,0,5,5]
    }
    ,
    colors:['#CD0002', '#007CBD', '#02357F', '#F9CB0D', '#F02A2E'],

    tooltip: {
        enabled: true,
        x: {
            show: true,
            format: 'd.M.yyyy'
        },        
        y: [{
          formatter: function (y) {
              return  (y / 50000).toFixed(4) + "% väestöstä"
            }
         }, {
          formatter: function (y) {
              return  (y / 50000).toFixed(4) + "% väestöstä"
            }
         }, {
          formatter: function (y) {
             return  (y / 50000).toFixed(4) + "% väestöstä"
            }
         }, {
          formatter: function (y) {           
              return  (y / 50000).toFixed(4) + "% väestöstä";
            }
         }, {
          formatter: function (y) {
              return  (y / 50000).toFixed(4) + "% väestöstä";         
          } 
        }]
    },


     series:[ {
        name: 'Tanska',
        data: [{{ cases_percentage_denmark }}]
        },

        {
        name: 'Viro',
        data: [{{ cases_percentage_estonia }}]
        },

        {
        name: 'Suomi',
        data: [{{ cases_percentage_finland }}]
        },

        {
        name: 'Ruotsi',
        data: [{{ cases_percentage_sweden }}]
        },

        {
        name: 'Norja',
        data: [{{ cases_percentage_norway }}]
        },



    ],
    title: {
        text: "Vahvistetut tapaukset suhteutettuna väkilukuun", align: "left"
    }
    ,
    subtitle: {
        text: "Logaritminen asteikko (päivitetty {{update_date}})", align: "left"
    }
    ,
    xaxis : {
        type: "datetime",
        min: new Date("25 Feb 2020").getTime(),
        labels: {
            format: 'd.M'
        }
    },

    yaxis: {
        logarithmic: "true",
        opposite: true,
        min: 2,
        //max: 2000,
        labels : { 
            formatter: function(y) {
                return (y / 50000).toFixed(4) +"%"
            }
        }
    }
    ,
    legend: {
        horizontalAlign: "center",
        position: "bottom",
        offsetY: 3,
        itemMargin: {
            horizontal: 10
        },
    }
    ,
    grid: {
        borderColor: "#f1f3fa"
    }
    ,
    responsive:[ {
        breakpoint:600,
        options: {
            chart: {
                toolbar: {
                    show: !1
                }
            }
            ,
            legend: {
                show: !1
            }
        }
    }
    ]
}

;
(chart=new ApexCharts(document.querySelector("#daniel-chart1"), options)).render();




var options= {
    chart: {
        locales: [{
            "name": "fi",
                "options": {
                    "months": [ "Tammikuu", "Helmikuu", "Maaliskuu", "Huhtikuu", "Toukokuu", "Kesäkuu", "Heinäkuu", "Elokuu", "Syyskuu", "Lokakuu", "Marraskuu", "Joulukuu"],
                    "shortMonths": [ "Tammikuuta", "Helmikuuta", "Maaliskuuta", "Huhtikuuta", "Toukokuuta", "Kesäkuuta", "Heinäkuuta", "Elokuuta", "Syyskuuta", "Lokakuuta", "Marraskuuta", "Joulukuuta"],
                    "days": [ "Sunnuntai", "Maanantai", "Tiistai", "Keskiviikko", "Torstai", "Perjantai", "Lauantai"],
                    "shortDays": ["Su", "Ma", "Ti", "Ke", "To", "Pe", "La"],
                    "toolbar": {
                        "exportToSVG": "Lataa SVG",
                        "exportToPNG": "Lataa PNG",
                        "exportToCSV": "Lataa CSV",
                        "menu": "Valikko",
                        "selection": "Valinta",
                        "selectionZoom": "Valinnan zoomaus",
                        "zoomIn": "Lähennä",
                        "zoomOut": "Loitonna",
                        "pan": "Panoroi",
                        "reset": "Nollaa zoomaus"
                    }
                }
        }],


        defaultLocale: "fi",


        height:380,
        type:"line",
        zoom: {
            enabled: !1
        }

    },




    dataLabels: {
        enabled: !1
    }
    ,
    stroke: {
        width: [3, 3, 5, 3, 3], 
        curve: "straight",
        dashArray: [5,5,0,5,5]
    }
    ,
    colors:['#CD0002', '#007CBD', '#02357F', '#F9CB0D', '#F02A2E'],

    tooltip: {
        enabled: true,
        x: {
            show: true,
            format: 'd.M.yyyy'
        },        
        y: [{
          formatter: function (y) {
              return  (y / 50000).toFixed(4) + "% väestöstä"
            }
         }, {
          formatter: function (y) {
              return  (y / 50000).toFixed(4) + "% väestöstä"
            }
         }, {
          formatter: function (y) {
             return  (y / 50000).toFixed(4) + "% väestöstä"
            }
         }, {
          formatter: function (y) {           
              return  (y / 50000).toFixed(4) + "% väestöstä";
            }
         }, {
          formatter: function (y) {
              return  (y / 50000).toFixed(4) + "% väestöstä";         
          } 
        }]
    },
     series:[ {
        name: 'Tanska',
        data: [{{ cases_percentage_denmark }}]
        },

        {
        name: 'Viro',
        data: [{{ cases_percentage_estonia }}]
        },

        {
        name: 'Suomi',
        data: [{{ cases_percentage_finland }}]
        },

        {
        name: 'Ruotsi',
        data: [{{ cases_percentage_sweden }}]
        },

        {
        name: 'Norja',
        data: [{{ cases_percentage_norway }}]
        },
    ],
    title: {
        text: "Vahvistetut tapaukset suhteutettuna väkilukuun", align: "left"
    }
    ,
    subtitle: {
        text: "Lineaarinen asteikko (päivitetty {{update_date}})", align: "left"
    }
    ,
    xaxis : {
        type: "datetime",
        min: new Date("25 Feb 2020").getTime(),
        labels: {
            format: 'd.M'
        }
    },

    yaxis: {
        logarithmic: false,
        opposite: true,
        min: 9,
        labels : { 
            formatter: function(y) {
                return (y / 50000).toFixed(4) +"%"
            }
        }
    }
    ,
    legend: {
        horizontalAlign: "center",
        position: "bottom",
        offsetY: 3,
        itemMargin: {
            horizontal: 10
        },
    }
    ,
    grid: {
        borderColor: "#f1f3fa"
    }
    ,
    responsive:[ {
        breakpoint:600,
        options: {
            chart: {
                toolbar: {
                    show: !1
                }
            }
            ,
            legend: {
                show: !1
            }
        }
    }
    ]
}

;
(chart=new ApexCharts(document.querySelector("#daniel-chart2"), options)).render();





var options= {
    chart: {
        locales: [{
            "name": "fi",
                "options": {
                    "months": [ "Tammikuu", "Helmikuu", "Maaliskuu", "Huhtikuu", "Toukokuu", "Kesäkuu", "Heinäkuu", "Elokuu", "Syyskuu", "Lokakuu", "Marraskuu", "Joulukuu"],
                    "shortMonths": [ "Tammikuuta", "Helmikuuta", "Maaliskuuta", "Huhtikuuta", "Toukokuuta", "Kesäkuuta", "Heinäkuuta", "Elokuuta", "Syyskuuta", "Lokakuuta", "Marraskuuta", "Joulukuuta"],
                    "days": [ "Sunnuntai", "Maanantai", "Tiistai", "Keskiviikko", "Torstai", "Perjantai", "Lauantai"],
                    "shortDays": ["Su", "Ma", "Ti", "Ke", "To", "Pe", "La"],
                    "toolbar": {
                        "exportToSVG": "Lataa SVG",
                        "exportToPNG": "Lataa PNG",
                        "exportToCSV": "Lataa CSV",
                        "menu": "Valikko",
                        "selection": "Valinta",
                        "selectionZoom": "Valinnan zoomaus",
                        "zoomIn": "Lähennä",
                        "zoomOut": "Loitonna",
                        "pan": "Panoroi",
                        "reset": "Nollaa zoomaus"
                    }
                }
        }],


        defaultLocale: "fi",


        height:380,
        type:"line",
        zoom: {
            enabled: !1
        }

    },




    dataLabels: {
        enabled: !1
    }
    ,
    stroke: {
        width: [3, 3, 3, 3, 5], 
        curve: "straight",
        dashArray: [5,5,5,5,0]
    }
    ,
    colors:['#70B18F', '#6B7DA8', '#CA6975', '#E7D485', '#02357F'],

    tooltip: {
        enabled: true,
        x: {
            show: true,
            format: 'd.M.yyyy'
        },        
        y: [{
          formatter: function (y) {
              return  (y / 50000).toFixed(4) + "% väestöstä"
            }
         }, {
          formatter: function (y) {
              return  (y / 50000).toFixed(4) + "% väestöstä"
            }
         }, {
          formatter: function (y) {
             return  (y / 50000).toFixed(4) + "% väestöstä"
            }
         }, {
          formatter: function (y) {           
              return  (y / 50000).toFixed(4) + "% väestöstä";
            }
         }, {
          formatter: function (y) {
              return  (y / 50000).toFixed(4) + "% väestöstä";         
          } 
        }]
    },

     series:[ {
        name: 'Italia +0pv',
        data: [{{ cases_percentage_timeshifted_italy }}]
        },

        {
        name: 'Espanja +7pv',
        data: [{{ cases_percentage_timeshifted_spain }}]
        },

        {
        name: 'Ranska +9pv',
        data: [{{ cases_percentage_timeshifted_france }}]
        },


        {
        name: 'Saksa +10pv',
        data: [{{ cases_percentage_timeshifted_germany }}]
        },


     
        {
        name: 'Suomi +11pv',
        data: [{{ cases_percentage_timeshifted_finland }}]
        },


    ],
    title: {
        text: "Vahvistetut tapaukset suhteutettuna väkilukuun", align: "left"
    }
    ,
    subtitle: {
        text: "Logaritminen asteikko (päivitetty {{update_date}})", align: "left"
    }
    ,
    xaxis : {
        type: "datetime",
        min: new Date("21 Feb 2020").getTime(),
        labels: {
            format: 'd.M'
        }
    },

    yaxis: {
        logarithmic: true,
        opposite: true,
        min: 9,
        labels : { 
            formatter: function(y) {
                return (y / 50000).toFixed(4) +"%"
            }
        }
    }
    ,
    legend: {
        horizontalAlign: "center",
        position: "bottom",
        offsetY: 3,
        itemMargin: {
            horizontal: 10
        },
    }
    ,
    grid: {
        borderColor: "#f1f3fa"
    }
    ,
    responsive:[ {
        breakpoint:600,
        options: {
            chart: {
                toolbar: {
                    show: !1
                }
            }
            ,
            legend: {
                show: !1
            }
        }
    }
    ]
}

;
(chart=new ApexCharts(document.querySelector("#daniel-chart3"), options)).render();






var options= {
    chart: {
        locales: [{
            "name": "fi",
                "options": {
                    "months": [ "Tammikuu", "Helmikuu", "Maaliskuu", "Huhtikuu", "Toukokuu", "Kesäkuu", "Heinäkuu", "Elokuu", "Syyskuu", "Lokakuu", "Marraskuu", "Joulukuu"],
                    "shortMonths": [ "Tammikuuta", "Helmikuuta", "Maaliskuuta", "Huhtikuuta", "Toukokuuta", "Kesäkuuta", "Heinäkuuta", "Elokuuta", "Syyskuuta", "Lokakuuta", "Marraskuuta", "Joulukuuta"],
                    "days": [ "Sunnuntai", "Maanantai", "Tiistai", "Keskiviikko", "Torstai", "Perjantai", "Lauantai"],
                    "shortDays": ["Su", "Ma", "Ti", "Ke", "To", "Pe", "La"],
                    "toolbar": {
                        "exportToSVG": "Lataa SVG",
                        "exportToPNG": "Lataa PNG",
                        "exportToCSV": "Lataa CSV",
                        "menu": "Valikko",
                        "selection": "Valinta",
                        "selectionZoom": "Valinnan zoomaus",
                        "zoomIn": "Lähennä",
                        "zoomOut": "Loitonna",
                        "pan": "Panoroi",
                        "reset": "Nollaa zoomaus"
                    }
                }
        }],


        defaultLocale: "fi",


        height:380,
        type:"line",
        zoom: {
            enabled: !1
        }

    },




    dataLabels: {
        enabled: !1
    }
    ,
    stroke: {
        width: [3, 3, 3, 3, 5], 
        curve: "straight",
        dashArray: [5,5,5,5,0]
    }
    ,
    colors:['#70B18F', '#6B7DA8', '#CA6975', '#E7D485', '#02357F'],

    tooltip: {
        enabled: true,
        x: {
            show: true,
            format: 'd.M.yyyy'
        },        
        y: [{
          formatter: function (y) {
              return  (y / 50000).toFixed(4) + "% väestöstä"
            }
         }, {
          formatter: function (y) {
              return  (y / 50000).toFixed(4) + "% väestöstä"
            }
         }, {
          formatter: function (y) {
             return  (y / 50000).toFixed(4) + "% väestöstä"
            }
         }, {
          formatter: function (y) {           
              return  (y / 50000).toFixed(4) + "% väestöstä";
            }
         }, {
          formatter: function (y) {
              return  (y / 50000).toFixed(4) + "% väestöstä";         
          } 
        }]
    },

     series:[ {
        name: 'Italia +0pv',
        data: [{{ cases_percentage_timeshifted_italy }}]
        },

        {
        name: 'Espanja +7pv',
        data: [{{ cases_percentage_timeshifted_spain }}]
        },

        {
        name: 'Ranska +9pv',
        data: [{{ cases_percentage_timeshifted_france }}]
        },


        {
        name: 'Saksa +10pv',
        data: [{{ cases_percentage_timeshifted_germany }}]
        },

        {
        name: 'Suomi +11pv',
        data: [{{ cases_percentage_timeshifted_finland }}]
        },
    ],
    title: {
        text: "Vahvistetut tapaukset suhteutettuna väkilukuun", align: "left"
    }
    ,
    subtitle: {
        text: "Lineaarinen asteikko (päivitetty {{update_date}})", align: "left"
    }
    ,
    xaxis : {
        type: "datetime",
        min: new Date("21 Feb 2020").getTime(),
        labels: {
            format: 'd.M'
        }
    },

    yaxis: {
        logarithmic: false,
        opposite: true,
        min: 9,
        labels : { 
            formatter: function(y) {
                return (y / 50000).toFixed(4) +"%"
            }
        }
    }
    ,
    legend: {
        horizontalAlign: "center",
        position: "bottom",
        offsetY: 3,
        itemMargin: {
            horizontal: 10
        },
    }
    ,
    grid: {
        borderColor: "#f1f3fa"
    }
    ,
    responsive:[ {
        breakpoint:600,
        options: {
            chart: {
                toolbar: {
                    show: !1
                }
            }
            ,
            legend: {
                show: !1
            }
        }
    }
    ]
}

;
(chart=new ApexCharts(document.querySelector("#daniel-chart4"), options)).render();




// colors=["#727cf5",
// "#6c757d"];
