.research-table .cell {
  text-align: right;
}

.research-table .cell.first {
  text-align: left;
}

.research-table .cell.head div {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  margin: 5px;
  font-size: 80%;
}

.research-table .cell:not(.head) {
  border-bottom: 1px dashed black;
  padding: 10px;
}

.research-table .cell.no-border {
  border-bottom: none;
}

.pagination-controls {
  padding: 10px;
}

.pagination-controls button {
  margin: 5px;
}
